<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push" style="width: 250px;">

    <mat-toolbar>

      <span>Menu</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>exit_to_app</mat-icon>
      </button>

    </mat-toolbar>

    <mat-nav-list>

      @for (item of sidebarItems; track $index) {
        <mat-list-item routerLink="{{item.url}}" (click)="sidenav.toggle()">
          <mat-icon matListItemIcon> {{ item.icon }} </mat-icon>
          {{ item.label }}
        </mat-list-item>
      }

    </mat-nav-list>

  </mat-sidenav>

  <mat-toolbar color="primary">

    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="spacer"></span>

    <div>
      <mat-icon>account_circle_icon</mat-icon>
      <span style="padding-right: 1rem;"> {{ user?.user }} </span>

      <button mat-button (click)="onLogout()">
        Logout
      </button>
    </div>


  </mat-toolbar>

  <div class="container p-4">

    <router-outlet></router-outlet>

  </div>

</mat-sidenav-container>




